html, body {
	width: 74%;
	margin: 0 auto 0 auto;
	padding: 0;
	height: 1024px;

	@import url("https://use.typekit.net/xcx8ues.css");
	font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.wrapper {

	height: 100%;
	border-style: none solid none solid;
	border-width: 1px;
	background: lightsalmon;
}

.donation-wrapper {

	background: silver;
	
}

.header-wrapper {
	background: orange;
}

.main-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background: salmon;
	padding: 10px;
	text-align: center;
	grid-gap: 1rem;
	
}

.grid-wrapper {
	opacity: 70%;
	border-width: 2px;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	grid-gap: 1em;
	border-radius: 1px;
	
}

.footer-wrapper {
	
	background: salmon;	
	padding: 20px 12px;
	padding-bottom: 0px;
	position: absolute;
	margin-left: 0px;
	padding-left: 0px;
	width: 53.8%;
	bottom: 0;

}


#trademark {

	font-size: 10px;
	text-align: right;
	margin-left: 370px;
	color: gray;
	opacity: 10%;
	display: inline-block;
	
}


ul li a {
	text-decoration: none;
	color: black;
	padding: 20px 20px 20px 0px;
	margin: auto;
}
ul li a:hover {
	color: pink;
	opacity: 50%;
}
ul li {
	list-style-type: none;
	display: inline-block;

}

h1 {
	padding: 10px;
	margin: 0;
	background: lightsalmon;

}

h3 {
	background: lightpink;
	padding: 10px;
	margin: 0px;
}

h4 {
	background: white;
	margin: 0;
	padding: 5px;
}


input {
	margin-left: 20px;
	margin-right: 5px;
}

p {

	padding: 4.5px;
	text-indent: 10px;
	background: snow;
	border-radius: 4px;
	
}

legend {

	background: black;
	color: silver;
	border-style: solid;
	border-radius: 6px;
	padding: 3px;
	margin-top: 0px;
	text-align: left;

}

legend:hover {

	background: lightyellow;
	color: black;
	
}

#submit {
	background: white;
	float: right;
	margin-bottom: 5px;
	margin-top: 2px;
	padding-bottom: 5px;
	border-style: outset;
	border-width: 3px;
}

#submit:hover {

	background: lightblue;
	border-style: outset;
	border-width: 3px;
	border-color: deepskyblue;
	
}


#page-list-wrapper {
	
	justify-content: center;
	margin-left: 26%;
	list-style-type: none;

}

#page-list-wrapper a {
	
	text-align: center;
	margin: auto;
	float: center;

}

.form-wrapper {

	background: pink;

}

fieldset {
	border-style: none;

}

a {

	color: black;
	text-decoration: none;
	
	
}

h3:hover, h4:hover, form:hover{
	background: lightyellow;
}

a:hover {
	color: blue;
}



